<form #inputForm="ngForm">
  <mat-card>
    <mat-card-title>Campaign</mat-card-title>
    <mat-card-content>
    <span layout="row" layout-align="start center">
      <span layout="column" layout-margin>
        <mat-form-field flex="25">
          <input #nameInput="ngModel" matInput placeholder="Name" size="30" maxlength="256"
                 [(ngModel)]="campaign.name" name="name" required tdAutoTrim>
          <mat-hint>
            <span [hidden]="nameInput.pristine || !nameInput.errors?.required" class="tc-red-600">Required</span>
          </mat-hint>
        </mat-form-field>
      </span>
      <span layout="column" layout-margin>
        <mat-form-field flex="25">
          <input #descriptionInput="ngModel" matInput placeholder="Description" size="50" maxlength="256" [(ngModel)]="campaign.description" name="description" required tdAutoTrim>
          <mat-hint>
            <span [hidden]="descriptionInput.pristine || !descriptionInput.errors?.required" class="tc-red-600">Required</span>
          </mat-hint>
        </mat-form-field>
      </span>
    </span>
      <span layout="row" layout-align="start center">
      <span layout="column" layout-margin>
        <mat-form-field flex="25">
          <input #rateInput="ngModel" matInput placeholder="Default Entry Multiplier" [(ngModel)]="campaign.rate" name="rate" pattern="[1-9]\d{0,9}([.]\d{0,2})?" required tdAutoTrim>
          <mat-hint>
            <span [hidden]="rateInput.pristine || !rateInput.errors?.required" class="tc-red-600">Required</span>
            <span [hidden]="!rateInput.errors?.pattern" class="tc-red-600">Use Numbers or Fractions from 1-999,999,999.99</span>
          </mat-hint>
        </mat-form-field>
      </span>
      <span layout="column" layout-margin>
        <mat-form-field flex="25">
          <input #durationInput="ngModel" matInput placeholder="Drawing Notification" [(ngModel)]="campaign.anticipationDuration" name="duration" pattern="\d{0,8}">
          <span matSuffix>sec</span>
          <mat-hint>
            <span [hidden]="!durationInput.errors?.pattern" class="tc-red-600">Use numbers from 0-99999999</span>
          </mat-hint>
          <mat-hint [hidden]="durationInput.errors" class="tc-grey-500" align="end">Seconds before drawing</mat-hint>
        </mat-form-field>
      </span>
      <div class="push-left">
        <mat-checkbox class="push" [checked]="campaign.canRollover" (change)="onCheckbox1(campaign)">Rollover</mat-checkbox>
        <mat-checkbox class="push" [checked]="campaign.isAutoDraw" (change)="onCheckbox2(campaign)">Auto Draw</mat-checkbox>
        <mat-checkbox class="push" [checked]="campaign.isAutoNotify" (change)="onCheckbox3(campaign)">Auto Notify</mat-checkbox>
      </div>
    </span>
      <span class="mat-subhead" layout-margin>Groups, Tiers &amp; Machine Manufacturers</span>
      <div class="mat-subhead" layout-margin>
        <td-chips #glist [items]="groupList" [(ngModel)]="input.groups" name="groups" placeholder="Enter Groups" (keyup)="$event.target.value = ''" (remove)="removeGroups($event)" requireMatch (add)="addGroups($event)" ></td-chips>
        <td-chips #tlist [items]="tierList" [(ngModel)]="input.tiers" name="tiers" placeholder="Enter Tiers" (keyup)="$event.target.value = ''" (remove)="removeTiers($event)"  requireMatch (add)="addTiers($event)" ></td-chips>
        <td-chips  [items]="manufacturerList" [(ngModel)]="input.manufacturers" (keyup)="$event.target.value = ''"  name="manufacturer" placeholder="Enter Machine Manufacturer"></td-chips>
        <span layout="row" class="mat-caption tc-grey-500 push-top">* Required</span>
      </div>

      <mat-card-title>Multiplier Eligibilities</mat-card-title>
      <div class="mat-subhead" layout-margin >
        <td-chips [items]="selgroupList" [(ngModel)]="input.selGroups" name="selGroups" (keyup)="$event.target.value = ''"  placeholder="Enter Multiplier Groups" requireMatch ></td-chips>
        <td-chips [items]="seltierList" [(ngModel)]="input.selTiers" name="selTiers" (keyup)="$event.target.value = ''"  placeholder="Enter Multiplier Tiers" requireMatch ></td-chips>
      </div>
      <span layout="row" layout-align="start center">
      <span layout="column" layout-margin>
        <mat-form-field flex="25">
          <input #multiplierInput="ngModel" matInput placeholder="Multiplier" [(ngModel)]="input.multiplier" name="multiplier" pattern="[1-9]\d{0,9}([.]\d{0,2})?">
        <mat-hint>
        <span [hidden]="!multiplierInput.errors?.pattern" class="tc-red-600">Use Numbers or Fractions between 1-9999999</span>
        </mat-hint>
        </mat-form-field>
      </span>
      </span>

      <button mat-raised-button color="primary" ng-click="showTable=true" [disabled]="!input.multiplier || !inputForm.valid" (click)="fillRates(input.multiplier); createTable()"> ADD MULTIPLIER ELIGIBILITY</button>
      <button mat-raised-button class="text-upper" (click)="closeContent()">Cancel</button>

      <div class="mat-subhead" style="padding-top:10px;padding-bottom:10px">
        <mat-card-subtitle> <h4 class="mat-subhead" style="padding-top:10px;padding-bottom:10px;">Current Multipliers</h4></mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-table [dataSource]="dataSource">
          <!-- Delete Row Icon -->
          <ng-container matColumnDef="action">
            <mat-header-cell mat-header-cell *matHeaderCellDef> &nbsp;</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
              <button mat-icon-button class="text-upper" (click)="deleteRow(i)"><mat-icon>delete</mat-icon></button>
            </mat-cell>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
            <mat-cell  *matCellDef="let element" matTooltip={{element.name}} > {{element.name}}
            </mat-cell>
          </ng-container>

          <!-- Type Column -->
          <ng-container matColumnDef="type">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
          </ng-container>

          <!-- Multiplier Column -->
          <ng-container matColumnDef="multiplier">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Multiplier</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.multiplier}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="!inputForm.valid" class="text-upper"
              (click)="onSave()">Save
      </button>
      <button mat-raised-button class="text-upper" (click)="onCancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>

</form>
