<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="assets/foundation-5.5.2/css/foundation.min.css">
</head>

<body>
<script type="text/javascript" src="assets/js/angular.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
   <div ng-app="superApp">
       <superhero flight speed strength>SuperMan</superhero>
       <superhero speed>The Flash</superhero>
    
     <!--  <div ng-app="behaviorApp">
        <div enter>I am Content!</div>
       
     <div ng-controller="AvengersCtrl">
            <input type= "text" ng-model="searchText">
            <table>
                <tr ng-repeat="actor in avengers.cast | filter:searchText">
                    <td>{{actor.name | lowercase}}</td>
                    <td>{{actor.character | uppercase }}</td>
                </tr>
            </table>
        </div> -->
    </div>

    
</body>

</html>