<mat-card *ngIf="campaigns">

<div layout="row" layout-align="start center" class="push-right">
<mat-card-title>{{isArchive ? 'Archived' : ''}} Campaigns</mat-card-title>

  <mat-card-actions *ngIf="!isArchive">
    <button mat-button color="primary" name="createCampaign" class="text-upper" [routerLink]="['/campaigns/create']"
            [disabled]="!canCreate">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-actions>
  <span flex></span>
  <td-search-box placeholder="Search..." (keyup)="applyFilter($event.target.value)"
                 (mousedown)="applyFilter($event.target.value)"
                 (paste)="applyFilter($event.clipboardData.getData('text/plain'))" (clear)="clearData()"
                 [showUnderline]="true"></td-search-box>
</div>

  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>


<mat-card-content>
<mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSortActive="name" matSort
           *ngIf="!isLoading && dataSource.filteredData.length > 0">

<ng-container matColumnDef="name">
  <mat-header-cell *matHeaderCellDef [ngClass]="sortActive==='name' && sortDir !=='' ? 'positive' : 'negative'"
                   class="mat-body-1" mat-sort-header> Name
  </mat-header-cell>
<mat-cell *matCellDef="let row"  class="mat-body-1 text-truncate"> {{row.name}}</mat-cell>
</ng-container>

<ng-container matColumnDef="description">
  <mat-header-cell *matHeaderCellDef
                   [ngClass]="sortActive==='description' && sortDir !=='' ? 'positive' : 'negative'"
                   class="mat-body-1" mat-sort-header> Description
  </mat-header-cell>
<mat-cell *matCellDef="let row" class="mat-body-1 text-truncate"> {{row.description}}</mat-cell>
</ng-container>

<ng-container matColumnDef="status">
  <mat-header-cell *matHeaderCellDef [ngClass]="sortActive==='status' && sortDir !=='' ? 'positive' : 'negative'"
                   class="mat-body-1" mat-sort-header> Status
  </mat-header-cell>
<mat-cell *matCellDef="let row" class="mat-body-1 text-truncate"> {{row.status}}</mat-cell>
</ng-container>

  <ng-container matColumnDef="view">
    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
    <mat-cell *matCellDef="let row">

      <button name="archive" mat-button class="text-upper archive" (click)="openDialog(row.id,row.name)"
              *ngIf="!row.isArchived && row.isComplete" [disabled]="!canArchive" [disabled]="!canUpdate">
        <mat-icon color="primary">archive</mat-icon>
      </button>
      <span *ngIf="row.isArchived || !row.isComplete" class="no-archive">
          </span>
      <span>
            <button mat-button color="primary" class="text-upper" [routerLink]="['/campaigns', row.id]">View</button>
          </span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

  <mat-paginator [pageSize]="20" [pageSizeOptions]="[10,20,30]" showFirstLastButtons></mat-paginator>
</mat-card-content>
</mat-card>

