<span class="mat-subhead">Groups &amp; Tiers</span>
<td-chips [items]="groupList" [(ngModel)]="input.groups" name="groups" #grps placeholder="Enter Groups" requireMatch (onInputChange)="getGroups($event.value)"></td-chips>
<td-chips [items]="tierList" [(ngModel)]="input.tiers" name="tiers" #trs placeholder="Enter Tiers" requireMatch (onInputChange)="getTiers($event.value)"></td-chips>

<mat-form-field>
  <mat-select placeholder="Choose Groups and Tiers" [formControl]="groupControl" multiple>
    <mat-option>-- None --</mat-option>
    <mat-optgroup *ngFor="let group of  tiernGroups" [label]="group.type">
      <mat-option *ngFor="let value of group.value" [value]="value.id">
        {{ value.name }}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
